@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
}

/* 공통속성 */
:root {
    --main-color: rgb(255, 146, 164);
    --sub-color:  rgb(0, 153, 25);
}

body {
    background-color: #fff;
    color: #333;
}

.flex {
    display: flex;
}

.align-c {
    align-items: center;
}

.just-sb {
    justify-content: space-between;
}

.just-c {
    justify-content: center;
}

.wrap {
    width: 1000px;
}

/* header */
header {
    width: 200px;
    text-align: center;
}

header h1 {
    padding: 20px 10px;
}

header h1 img {
    width: 100%;
}

nav {
    width: 100%;

}

nav a {
    display: block;
}

nav>ul {
    width: 90%;
    margin: auto;
}

nav ul li.main-menu>a {
    padding: 10px;
    border-bottom: 2px solid var(--main-color);
}

nav ul li.main-menu:hover>a {
    background-color: var(--main-color);
    color: #ffffff;
}

nav ul.sub-menu {
    display: none;
}

nav ul.sub-menu li a {
    padding: 8px;
}

nav ul.sub-menu li:hover a {
    color: var(--main-color);
}

/* container */
.container{
    width: calc(100% - 200px);
}

/* slide */
.slide-container {
    height: 350px;
    position: relative;
}

.slide{
    position: absolute;
}

.slide .desc{
    position: absolute;
    left: 20px;
    top: 20px;
    color: #fff;
    line-height: 1.5;
    background-color: rgba(0,0,0,.3);
    padding: 10px 20px;
    border-radius: 10px;
}

.slide:nth-child(2) .desc{
    right:20px;
    left: auto;
}

.slide .desc h2{
    font-size: 22px;
    color: var(--main-color);
}

.slide .desc p{
    font-size: 14px;
    padding: 5px;
}

/* contents */
.contents{
    height: 200px;
}

.contents>div{
    width: 33.3333%;
    height: 100%;
}

.contents h3{
    display: inline-block;
    padding: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: -1px;
    font-size: 16px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
}

.notice ul, .gallery ul{
    width: 98%;
    margin: auto;
    height: calc(100% - 42px);
    border: 1px solid #000;
}

.notice ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #dedede;
}

.notice ul li:hover{
    color: var(--sub-color);
}

.notice ul li a{
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gallery ul{
    padding: 5px;
}

.direct{
    overflow: hidden;
    position: relative;
}

.direct figcaption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,.3);
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
}

/* footer */
footer{
    height: 100px;
    text-align: center;
}

.copyright{
    width: 70%;
}

.footer-box{
    width: 30%;
    padding: 10px;
}

.sns li img{
    border-radius: 10px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.family-site{
    padding: 5px;
}

select{
    border: 1px solid var(--main-color);
}

/* popup */
.modal-box{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}

.popup{
    width: 22%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 20px;
    text-align: center;
    line-height: 1.5;
    border: 2px solid var(--sub-color);
}

.popup h2{
    padding-bottom: 5px;
}

.popup a.close{
    display: inline-block;
    background-color: #dedede;
    padding: 5px 10px;
    font-size: 14px;
    margin-top: 20px;
}

.popup a.close:hover{
    background-color: var(--main-color);
    color: #fff;
}

